pipeline/00_GenerateTokenIfNeeded.json
{
	"name": "00_GenerateTokenIfNeeded",
	"properties": {
		"activities": [
			{
				"name": "Find_Last_Sec_Token",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "Las/PowerBi/ActiveSecToken",
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "SecToken",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Token_is_expired",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Find_Last_Sec_Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(utcnow(),string(activity('Find_Last_Sec_Token').output.firstRow.vence))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "GetSecTokenAndStoreIt",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01_GetSecTokenAndStoreIt",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"KeyVaultDnsName": {
				"type": "string",
				"defaultValue": "https://abilasdevueeanalitycskv.vault.azure.net/"
			},
			"SecretName_TenantId": {
				"type": "string",
				"defaultValue": "TenantId"
			},
			"SecretVersion_TenantId": {
				"type": "string",
				"defaultValue": "c60113bf427249a89e4c1b28b4b5ecd5"
			},
			"SecretName_ClientId": {
				"type": "string",
				"defaultValue": "ClientId"
			},
			"SecretVersion_ClientId": {
				"type": "string",
				"defaultValue": "2bebcaa1d12d46b2901ba21eba86c2ad"
			},
			"SecretName_ClientSecret": {
				"type": "string",
				"defaultValue": "ClientSecret"
			},
			"SecretVersion_ClientSecret": {
				"type": "string",
				"defaultValue": "6c0161e756104ba69788ba4017ba5452"
			}
		},
		"folder": {
			"name": "LAS/PowerBI/Template"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-26T21:39:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}