pipeline/01_FS_CZ_Cxc_PPL.json
{
	"name": "01_FS_CZ_Cxc_PPL",
	"properties": {
		"activities": [
			{
				"name": "Validation DE_PARA en File Server",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "SELECT_PIVOT_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Source_Cxc_Manual_DTS",
						"type": "DatasetReference",
						"parameters": {
							"file": "@pipeline().parameters.tableName"
						}
					},
					"timeout": "0.00:03:00",
					"sleep": 10
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Validation DE_PARA en File Server",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Validation DE_PARA en File Server').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "PZ",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AvroSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "AvroWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Source_Cxc_Manual_DTS",
									"type": "DatasetReference",
									"parameters": {
										"file": "@pipeline().parameters.tableName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Sink_Cxc_Manual_DTS",
									"type": "DatasetReference",
									"parameters": {
										"path": "@pipeline().parameters.tableName"
									}
								}
							]
						},
						{
							"name": "Delete DE_PARA en File Server",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "INSERT_PIVOT_DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Source_Cxc_Manual_DTS",
									"type": "DatasetReference",
									"parameters": {
										"file": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "PZ_CZ_TEMPLATE",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Delete DE_PARA en File Server",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Argentina/LakeHouse/FullDigital/Teleperformance/Manual/PZ_CZ_TEMPLATE",
								"baseParameters": {
									"context": {
										"value": "@pipeline().parameters.context",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"keys": {
										"value": "@pipeline().parameters.keys",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"runId": {
										"value": "@pipeline().parameters.runId",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LASCommercial_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "INSERT_PIVOT_DB",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "PZ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/LAS/Templates/PIVOT/INSERT_PIVOT",
								"baseParameters": {
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"descripcion": {
										"value": "@pipeline().parameters.descripcion",
										"type": "Expression"
									},
									"cantidadLeido": {
										"value": "@concat(activity('PZ').output.rowsRead)",
										"type": "Expression"
									},
									"cantidadEscrito": {
										"value": "@concat(activity('PZ').output.rowsCopied)",
										"type": "Expression"
									},
									"duracionCD": {
										"value": "@concat(activity('PZ').output.copyDuration)",
										"type": "Expression"
									},
									"fechaFin": {
										"value": "@convertFromUtc(utcnow(),'Argentina Standard Time','yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"bytesLeido": {
										"value": "@concat(activity('PZ').output.dataRead)",
										"type": "Expression"
									},
									"bytesEscrito": {
										"value": "@concat(activity('PZ').output.dataWritten)",
										"type": "Expression"
									},
									"ultimoValorPivot": {
										"value": "@activity('SELECT_PIVOT_DB').output.runOutput.ultimovalorpivot",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LASCommercial_Databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "SELECT_PIVOT_DB",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/LAS/Templates/PIVOT/SELECT_PIVOT",
					"baseParameters": {
						"country": {
							"value": "@pipeline().parameters.country",
							"type": "Expression"
						},
						"origenSystem": {
							"value": "@pipeline().parameters.origenSystem",
							"type": "Expression"
						},
						"tableName": {
							"value": "@pipeline().parameters.tableName",
							"type": "Expression"
						},
						"schema": {
							"value": "@pipeline().parameters.schema",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LASCommercial_Databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"tableName": {
				"type": "string"
			},
			"country": {
				"type": "string",
				"defaultValue": "Argentina"
			},
			"context": {
				"type": "string",
				"defaultValue": "Commercial"
			},
			"keys": {
				"type": "string",
				"defaultValue": "-"
			},
			"origenSystem": {
				"type": "string",
				"defaultValue": "Manual"
			},
			"runId": {
				"type": "string",
				"defaultValue": "-"
			},
			"scope": {
				"type": "string",
				"defaultValue": "KeyVault"
			},
			"schema": {
				"type": "string",
				"defaultValue": "-"
			},
			"descripcion": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Argentina/Teleperformance/Manual"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-19T17:51:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}