pipeline/02_Nielsen_FACT_DATA_AR_Template_PPL.json
{
	"name": "02_Nielsen_FACT_DATA_AR_Template_PPL",
	"properties": {
		"activities": [
			{
				"name": "SELECT_PIVOT_DB",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/LAS/Template/PIVOT/SELECT_PIVOT_ALL_PARAMETERS",
					"baseParameters": {
						"country": {
							"value": "@pipeline().parameters.country",
							"type": "Expression"
						},
						"origenSystem": {
							"value": "@pipeline().parameters.origenSystem",
							"type": "Expression"
						},
						"tableName": {
							"value": "@pipeline().parameters.tableName",
							"type": "Expression"
						},
						"schema": {
							"value": "@pipeline().parameters.schema",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LASCommercial_DatabricksLowPriority",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PZ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SELECT_PIVOT_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@first(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|')) ",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@last(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|')) ",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AvroSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "AvroWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MKT_TAG",
									"type": "String"
								},
								"sink": {
									"name": "MKT_TAG"
								}
							},
							{
								"source": {
									"name": "PROD_TAG",
									"type": "String"
								},
								"sink": {
									"name": "PROD_TAG"
								}
							},
							{
								"source": {
									"name": "PER_TAG",
									"type": "String"
								},
								"sink": {
									"name": "PER_TAG"
								}
							},
							{
								"source": {
									"name": "USALES",
									"type": "String"
								},
								"sink": {
									"name": "USALES"
								}
							},
							{
								"source": {
									"name": "SALES",
									"type": "String"
								},
								"sink": {
									"name": "SALES"
								}
							},
							{
								"source": {
									"name": "VALUE",
									"type": "String"
								},
								"sink": {
									"name": "VALUE"
								}
							},
							{
								"source": {
									"name": "PURU",
									"type": "String"
								},
								"sink": {
									"name": "PURU"
								}
							},
							{
								"source": {
									"name": "PUR",
									"type": "String"
								},
								"sink": {
									"name": "PUR"
								}
							},
							{
								"source": {
									"name": "FWDSTU",
									"type": "String"
								},
								"sink": {
									"name": "FWDSTU"
								}
							},
							{
								"source": {
									"name": "FWDST",
									"type": "String"
								},
								"sink": {
									"name": "FWDST"
								}
							},
							{
								"source": {
									"name": "STOCKU",
									"type": "String"
								},
								"sink": {
									"name": "STOCKU"
								}
							},
							{
								"source": {
									"name": "STOCK",
									"type": "String"
								},
								"sink": {
									"name": "STOCK"
								}
							},
							{
								"source": {
									"name": "HNDW",
									"type": "String"
								},
								"sink": {
									"name": "HNDW"
								}
							},
							{
								"source": {
									"name": "HNDN",
									"type": "String"
								},
								"sink": {
									"name": "HNDN"
								}
							},
							{
								"source": {
									"name": "OOSN",
									"type": "String"
								},
								"sink": {
									"name": "OOSN"
								}
							},
							{
								"source": {
									"name": "OOSW",
									"type": "String"
								},
								"sink": {
									"name": "OOSW"
								}
							},
							{
								"source": {
									"name": "DIRPURU",
									"type": "String"
								},
								"sink": {
									"name": "DIRPURU"
								}
							},
							{
								"source": {
									"name": "DIRPUR",
									"type": "String"
								},
								"sink": {
									"name": "DIRPUR"
								}
							},
							{
								"source": {
									"name": "PRICE",
									"type": "String"
								},
								"sink": {
									"name": "PRICE"
								}
							},
							{
								"source": {
									"name": "CPRICE",
									"type": "String"
								},
								"sink": {
									"name": "CPRICE"
								}
							},
							{
								"source": {
									"name": "SHUSALES",
									"type": "String"
								},
								"sink": {
									"name": "SHUSALES"
								}
							},
							{
								"source": {
									"name": "SHSALES",
									"type": "String"
								},
								"sink": {
									"name": "SHSALES"
								}
							},
							{
								"source": {
									"name": "SHVALUE",
									"type": "String"
								},
								"sink": {
									"name": "SHVALUE"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_SOM_Template_DL_CSV_DTS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_SOM_Template_DL_Avro_DTS",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@activity('SELECT_PIVOT_DB').output.runOutput.fileDirPZ",
								"type": "Expression"
							},
							"tableName": {
								"value": "@pipeline().parameters.tableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "INSERT_PIVOT_DB",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/LAS/Template/PIVOT/INSERT_PIVOT",
					"baseParameters": {
						"country": {
							"value": "@pipeline().parameters.country",
							"type": "Expression"
						},
						"origenSystem": {
							"value": "@pipeline().parameters.origenSystem",
							"type": "Expression"
						},
						"tableName": {
							"value": "@pipeline().parameters.tableName",
							"type": "Expression"
						},
						"descripcion": {
							"value": "@pipeline().parameters.descripcion",
							"type": "Expression"
						},
						"cantidadLeido": {
							"value": "@concat(activity('PZ').output.rowsRead)",
							"type": "Expression"
						},
						"cantidadEscrito": {
							"value": "@concat(activity('PZ').output.rowsCopied)",
							"type": "Expression"
						},
						"duracionCD": {
							"value": "@concat(activity('PZ').output.copyDuration)",
							"type": "Expression"
						},
						"fechaFin": {
							"value": "@convertFromUtc(utcnow(),'Argentina Standard Time','yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						},
						"schema": {
							"value": "@pipeline().parameters.schema",
							"type": "Expression"
						},
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"bytesLeido": {
							"value": "@concat(activity('PZ').output.dataRead)",
							"type": "Expression"
						},
						"bytesEscrito": {
							"value": "@concat(activity('PZ').output.dataWritten)",
							"type": "Expression"
						},
						"ultimoValorPivot": {
							"value": "@activity('SELECT_PIVOT_DB').output.runOutput.ultimovalorpivot",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LASCommercial_DatabricksLowPriority",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "IfCantidadLeidoIgual0",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "INSERT_PIVOT_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(concat(activity('PZ').output.rowsCopied),'0')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "HZ",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01_SOM_Nielsen_PZ_HZ_Template_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"keys": {
										"value": "@pipeline().parameters.keys",
										"type": "Expression"
									},
									"partitionByField": {
										"value": "@pipeline().parameters.partitionByField",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "CZ",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "HZ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "02_SOM_Nielsen_HZ_CZ_Template_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"keys": {
										"value": "@pipeline().parameters.keys",
										"type": "Expression"
									},
									"context": {
										"value": "@pipeline().parameters.context",
										"type": "Expression"
									},
									"partitionByField": {
										"value": "@pipeline().parameters.partitionByField",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"scope": {
				"type": "string",
				"defaultValue": "KeyVault"
			},
			"tableName": {
				"type": "string",
				"defaultValue": "FactData"
			},
			"origenSystem": {
				"type": "string",
				"defaultValue": "Nielsen"
			},
			"country": {
				"type": "string",
				"defaultValue": "Argentina"
			},
			"keys": {
				"type": "string",
				"defaultValue": "TAG"
			},
			"context": {
				"type": "string",
				"defaultValue": "Commercial"
			},
			"schema": {
				"type": "string",
				"defaultValue": "-"
			},
			"descripcion": {
				"type": "string",
				"defaultValue": "-"
			},
			"partitionByField": {
				"type": "string",
				"defaultValue": "-"
			}
		},
		"folder": {
			"name": "Argentina/Nielsen/Template"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-19T17:51:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}