pipeline/03_Snowflake_Template_Maestro_PPL.json
{
	"name": "03_Snowflake_Template_Maestro_PPL",
	"properties": {
		"activities": [
			{
				"name": "SELECT_PIVOT_DB",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/LAS/Template/PIVOT/SELECT_PIVOT_ALL_PARAMETERS",
					"baseParameters": {
						"country": {
							"value": "@pipeline().parameters.country",
							"type": "Expression"
						},
						"origenSystem": {
							"value": "@pipeline().parameters.origenSystem",
							"type": "Expression"
						},
						"tableName": {
							"value": "@pipeline().parameters.tableOrigen",
							"type": "Expression"
						},
						"schema": {
							"value": "@pipeline().parameters.schema",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LASCommercial_Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "INSERT_PIVOT_DB",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SNOWFLAKE TO PZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Argentina/Snowflake/Template/INSERT_PIVOT_SNOWFLAKE",
					"baseParameters": {
						"country": {
							"value": "@pipeline().parameters.country",
							"type": "Expression"
						},
						"origenSystem": {
							"value": "@pipeline().parameters.origenSystem",
							"type": "Expression"
						},
						"tableName": {
							"value": "@pipeline().parameters.tableOrigen",
							"type": "Expression"
						},
						"descripcion": {
							"value": "@activity('SELECT_PIVOT_DB').output.runOutput.descripcion",
							"type": "Expression"
						},
						"cantidadLeido": {
							"value": "@activity('SNOWFLAKE TO PZ').output.runOutput.cantLeidos",
							"type": "Expression"
						},
						"cantidadEscrito": {
							"value": "@activity('SNOWFLAKE TO PZ').output.runOutput.cantEscritos",
							"type": "Expression"
						},
						"duracionCD": {
							"value": "@string(activity('SNOWFLAKE TO PZ').output.executionDuration)",
							"type": "Expression"
						},
						"fechaFin": {
							"value": "@convertFromUtc(utcnow(),'Argentina Standard Time','yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						},
						"schema": {
							"value": "@pipeline().parameters.schema",
							"type": "Expression"
						},
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"bytesLeido": {
							"value": "@activity('SNOWFLAKE TO PZ').output.runOutput.bytesLeidos",
							"type": "Expression"
						},
						"bytesEscrito": {
							"value": "@activity('SNOWFLAKE TO PZ').output.runOutput.bytesEscritos",
							"type": "Expression"
						},
						"ultimoValorPivot": {
							"value": "@activity('SELECT_PIVOT_DB').output.runOutput.ultimovalorpivot",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LASCommercial_Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SNOWFLAKE TO PZ",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SELECT_PIVOT_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Argentina/Snowflake/Template/SNOW_PZ_TEMPLATE_DB",
					"baseParameters": {
						"tableOrigen": {
							"value": "@pipeline().parameters.tableOrigen",
							"type": "Expression"
						},
						"fileDirPz": {
							"value": "@activity('SELECT_PIVOT_DB').output.runOutput.fileDirPz",
							"type": "Expression"
						},
						"query": {
							"value": "@activity('SELECT_PIVOT_DB').output.runOutput.query",
							"type": "Expression"
						},
						"queryReproceso": {
							"value": "@activity('SELECT_PIVOT_DB').output.runOutput.queryReproceso",
							"type": "Expression"
						},
						"tipoCarga": {
							"value": "@pipeline().parameters.tipoCarga",
							"type": "Expression"
						},
						"scope": {
							"value": "@pipeline().parameters.scope",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LASCommercial_Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "IfCantidadLeidoIgual0",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "INSERT_PIVOT_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('SNOWFLAKE TO PZ').output.runOutput.cantLeidos,'0')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "HZ",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01_Snowflake_PZ_HZ_Template_Maestro_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"context": {
										"value": "@pipeline().parameters.context",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"partitionByField": {
										"value": "@pipeline().parameters.partitionByField",
										"type": "Expression"
									},
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableOrigen",
										"type": "Expression"
									},
									"keys": {
										"value": "@pipeline().parameters.keys",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "CZ",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "HZ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "02_Snowflake_HZ_CZ_Template_Maestro_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"context": {
										"value": "@pipeline().parameters.context",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"partitionByField": {
										"value": "@pipeline().parameters.partitionByField",
										"type": "Expression"
									},
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableOrigen",
										"type": "Expression"
									},
									"keys": {
										"value": "@pipeline().parameters.keys",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "ArQuilmesAndroid"
			},
			"tableOrigen": {
				"type": "string",
				"defaultValue": "OrderCompleted"
			},
			"country": {
				"type": "string",
				"defaultValue": "Argentina"
			},
			"origenSystem": {
				"type": "string",
				"defaultValue": "Snowflake"
			},
			"scope": {
				"type": "string",
				"defaultValue": "KeyVault"
			},
			"context": {
				"type": "string",
				"defaultValue": "Commercial"
			},
			"partitionByField": {
				"type": "string",
				"defaultValue": "part_received_at"
			},
			"keys": {
				"type": "string",
				"defaultValue": "id"
			},
			"tipoCarga": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "Argentina/Snowflake/Template"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-26T19:25:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}