pipeline/03_Scentia_SelfService_Template_PPL.json
{
	"name": "03_Scentia_SelfService_Template_PPL",
	"properties": {
		"activities": [
			{
				"name": "SELECT_PIVOT_DB",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/LAS/Template/PIVOT/SELECT_PIVOT_ALL_PARAMETERS",
					"baseParameters": {
						"country": {
							"value": "@pipeline().parameters.country",
							"type": "Expression"
						},
						"origenSystem": {
							"value": "@pipeline().parameters.origenSystem",
							"type": "Expression"
						},
						"tableName": {
							"value": "@pipeline().parameters.tableName",
							"type": "Expression"
						},
						"schema": {
							"value": "@pipeline().parameters.schema",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LASCommercial_DatabricksLowPriority",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Existe el archivo",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Existe HTTP Scentia",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Existe HTTP Scentia').output.runOutput.existeHTTP,'True')\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Envio Email",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/LAS/Template/Template_EnvioMailConId",
								"baseParameters": {
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"equipo": "Som",
									"pais": "Argentina",
									"entorno": "02-Desarrollo",
									"tema": "Scentia",
									"subTema": "Carga a CZ"
								}
							},
							"linkedServiceName": {
								"referenceName": "LASCommercial_DatabricksLowPriority",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "PZ",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AvroSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "AvroWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Periodo",
												"type": "String"
											},
											"sink": {
												"name": "Periodo"
											}
										},
										{
											"source": {
												"name": "CANAL",
												"type": "String"
											},
											"sink": {
												"name": "CANAL"
											}
										},
										{
											"source": {
												"name": "KEY ACCOUNT",
												"type": "String"
											},
											"sink": {
												"name": "KEY_ACCOUNT"
											}
										},
										{
											"source": {
												"name": "REGION",
												"type": "String"
											},
											"sink": {
												"name": "REGION"
											}
										},
										{
											"source": {
												"name": "AREA",
												"type": "String"
											},
											"sink": {
												"name": "AREA"
											}
										},
										{
											"source": {
												"name": "SUB-REGION",
												"type": "String"
											},
											"sink": {
												"name": "SUB_REGION"
											}
										},
										{
											"source": {
												"name": "FORMATO",
												"type": "String"
											},
											"sink": {
												"name": "FORMATO"
											}
										},
										{
											"source": {
												"name": "Ean",
												"type": "String"
											},
											"sink": {
												"name": "Ean"
											}
										},
										{
											"source": {
												"name": "Desc_2",
												"type": "String"
											},
											"sink": {
												"name": "Desc_2"
											}
										},
										{
											"source": {
												"name": "Manuf",
												"type": "String"
											},
											"sink": {
												"name": "Manuf"
											}
										},
										{
											"source": {
												"name": "Brand",
												"type": "String"
											},
											"sink": {
												"name": "Brand"
											}
										},
										{
											"source": {
												"name": "SUBBRAND",
												"type": "String"
											},
											"sink": {
												"name": "SUBBRAND"
											}
										},
										{
											"source": {
												"name": "SEGMENTO",
												"type": "String"
											},
											"sink": {
												"name": "SEGMENTO"
											}
										},
										{
											"source": {
												"name": "TIPO_ENV",
												"type": "String"
											},
											"sink": {
												"name": "TIPO_ENV"
											}
										},
										{
											"source": {
												"name": "SIZE",
												"type": "String"
											},
											"sink": {
												"name": "SIZE"
											}
										},
										{
											"source": {
												"name": "Calibre",
												"type": "String"
											},
											"sink": {
												"name": "Calibre"
											}
										},
										{
											"source": {
												"name": "Contenido",
												"type": "String"
											},
											"sink": {
												"name": "Contenido"
											}
										},
										{
											"source": {
												"name": " Unidades"
											},
											"sink": {
												"name": "Unidades"
											}
										},
										{
											"source": {
												"name": " VolumenLts"
											},
											"sink": {
												"name": "VolumenLts"
											}
										},
										{
											"source": {
												"name": " Importe_Item"
											},
											"sink": {
												"name": "Importe_Item"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Source_Scentia_Template_PZ_CSV_DTS_HTTP",
									"type": "DatasetReference",
									"parameters": {
										"periodo": {
											"value": "@int(first(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|')))",
											"type": "Expression"
										},
										"archivo": {
											"value": "@last(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Sink_Scentia_Template_PZ_SOM_DTS",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										},
										"periodo": {
											"value": "@int(first(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|')))",
											"type": "Expression"
										},
										"archivo": {
											"value": "@last(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "INSERT_PIVOT_DB",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "PZ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/LAS/Template/PIVOT/INSERT_PIVOT",
								"baseParameters": {
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"descripcion": {
										"value": "@pipeline().parameters.descripcion",
										"type": "Expression"
									},
									"cantidadLeido": {
										"value": "@concat(activity('PZ').output.rowsRead)",
										"type": "Expression"
									},
									"cantidadEscrito": {
										"value": "@concat(activity('PZ').output.rowsCopied)",
										"type": "Expression"
									},
									"duracionCD": {
										"value": "@concat(activity('PZ').output.copyDuration)",
										"type": "Expression"
									},
									"fechaFin": {
										"value": "@convertFromUtc(utcnow(),'Argentina Standard Time','yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"bytesLeido": {
										"value": "@concat(activity('PZ').output.dataRead)",
										"type": "Expression"
									},
									"bytesEscrito": {
										"value": "@concat(activity('PZ').output.dataWritten)",
										"type": "Expression"
									},
									"ultimoValorPivot": {
										"value": "@activity('SELECT_PIVOT_DB').output.runOutput.ultimovalorpivot",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LASCommercial_DatabricksLowPriority",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "HZ",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "INSERT_PIVOT_DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01_Scentia_PZ_HZ_Template_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"keys": {
										"value": "@pipeline().parameters.keys",
										"type": "Expression"
									},
									"partitionByField": {
										"value": "@pipeline().parameters.partitionByField",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "CZ",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "HZ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "02_Scentia_HZ_CZ_Template_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"keys": {
										"value": "@pipeline().parameters.keys",
										"type": "Expression"
									},
									"context": {
										"value": "@pipeline().parameters.context",
										"type": "Expression"
									},
									"partitionByField": {
										"value": "@pipeline().parameters.partitionByField",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Existe HTTP Scentia",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SELECT_PIVOT_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Argentina/Scentia/Template_Scentia/HTTP_PZ_VALIDATE_EXISTS",
					"baseParameters": {
						"days": {
							"value": "@first(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|'))",
							"type": "Expression"
						},
						"tableName": {
							"value": "@last(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|'))",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LASCommercial_DatabricksLowPriority",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"scope": {
				"type": "string",
				"defaultValue": "KeyVault"
			},
			"tableName": {
				"type": "string",
				"defaultValue": "Som"
			},
			"origenSystem": {
				"type": "string",
				"defaultValue": "Scentia"
			},
			"country": {
				"type": "string",
				"defaultValue": "Argentina"
			},
			"keys": {
				"type": "string",
				"defaultValue": "Periodo, CANAL, KEY_ACCOUNT, REGION, AREA, FORMATO, Ean, SOURCE_FILE"
			},
			"context": {
				"type": "string",
				"defaultValue": "Commercial"
			},
			"schema": {
				"type": "string",
				"defaultValue": "-"
			},
			"descripcion": {
				"type": "string",
				"defaultValue": "-"
			},
			"partitionByField": {
				"type": "string",
				"defaultValue": "-"
			}
		},
		"folder": {
			"name": "Argentina/Scentia/Template"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-19T17:51:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}