pipeline/06_Scentia_Mayoristas_Template_PPL.json
{
	"name": "06_Scentia_Mayoristas_Template_PPL",
	"properties": {
		"activities": [
			{
				"name": "SELECT_PIVOT_DB",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/LAS/Template/PIVOT/SELECT_PIVOT_TEST_SOM",
					"baseParameters": {
						"country": {
							"value": "@pipeline().parameters.country",
							"type": "Expression"
						},
						"origenSystem": {
							"value": "@pipeline().parameters.origenSystem",
							"type": "Expression"
						},
						"tableName": {
							"value": "@pipeline().parameters.tableName",
							"type": "Expression"
						},
						"schema": {
							"value": "@pipeline().parameters.schema",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LASCommercial_Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PZ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SELECT_PIVOT_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AvroSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "AvroWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Mes",
									"type": "String"
								},
								"sink": {
									"name": "Mes"
								}
							},
							{
								"source": {
									"name": "Categoria",
									"type": "String"
								},
								"sink": {
									"name": "Categoria"
								}
							},
							{
								"source": {
									"name": "Bandera",
									"type": "String"
								},
								"sink": {
									"name": "Bandera"
								}
							},
							{
								"source": {
									"name": "Descripción",
									"type": "String"
								},
								"sink": {
									"name": "Descripción"
								}
							},
							{
								"source": {
									"name": "Compañía",
									"type": "String"
								},
								"sink": {
									"name": "Compañía"
								}
							},
							{
								"source": {
									"name": "Marca",
									"type": "String"
								},
								"sink": {
									"name": "Marca"
								}
							},
							{
								"source": {
									"name": "Etapa",
									"type": "String"
								},
								"sink": {
									"name": "Etapa"
								}
							},
							{
								"source": {
									"name": "Formato",
									"type": "String"
								},
								"sink": {
									"name": "Formato"
								}
							},
							{
								"source": {
									"name": "Mercado",
									"type": "String"
								},
								"sink": {
									"name": "Mercado"
								}
							},
							{
								"source": {
									"name": "SUBETAPA",
									"type": "String"
								},
								"sink": {
									"name": "SUBETAPA"
								}
							},
							{
								"source": {
									"name": "Sustancia",
									"type": "String"
								},
								"sink": {
									"name": "Sustancia"
								}
							},
							{
								"source": {
									"name": "Unificador",
									"type": "String"
								},
								"sink": {
									"name": "Unificador"
								}
							},
							{
								"source": {
									"name": "SKU Analytics",
									"type": "String"
								},
								"sink": {
									"name": "SKU_Analytics"
								}
							},
							{
								"source": {
									"name": "EAN",
									"type": "String"
								},
								"sink": {
									"name": "EAN"
								}
							},
							{
								"source": {
									"name": "Conversor",
									"type": "String"
								},
								"sink": {
									"name": "Conversor"
								}
							},
							{
								"source": {
									"name": "Unidades",
									"type": "String"
								},
								"sink": {
									"name": "Unidades"
								}
							},
							{
								"source": {
									"name": " Importe ",
									"type": "String"
								},
								"sink": {
									"name": " Importe "
								}
							},
							{
								"source": {
									"name": "Volumen (Kg)",
									"type": "String"
								},
								"sink": {
									"name": "Volumen (Kg)"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Scentia_Template_PZ_CSV_DTS_HTTP",
						"type": "DatasetReference",
						"parameters": {
							"periodo": {
								"value": "@int(first(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|')))",
								"type": "Expression"
							},
							"archivo": {
								"value": "@last(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|'))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Scentia_Template_PZ_SOM_DTS",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@pipeline().parameters.tableName",
								"type": "Expression"
							},
							"periodo": {
								"value": "@int(first(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|')))",
								"type": "Expression"
							},
							"archivo": {
								"value": "@last(split(activity('SELECT_PIVOT_DB').output.runOutput.query,'|'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "INSERT_PIVOT_DB",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/LAS/Template/PIVOT/INSERT_PIVOT",
					"baseParameters": {
						"country": {
							"value": "@pipeline().parameters.country",
							"type": "Expression"
						},
						"origenSystem": {
							"value": "@pipeline().parameters.origenSystem",
							"type": "Expression"
						},
						"tableName": {
							"value": "@pipeline().parameters.tableName",
							"type": "Expression"
						},
						"descripcion": {
							"value": "@pipeline().parameters.descripcion",
							"type": "Expression"
						},
						"cantidadLeido": {
							"value": "@concat(activity('PZ').output.rowsRead)",
							"type": "Expression"
						},
						"cantidadEscrito": {
							"value": "@concat(activity('PZ').output.rowsCopied)",
							"type": "Expression"
						},
						"duracionCD": {
							"value": "@concat(activity('PZ').output.copyDuration)",
							"type": "Expression"
						},
						"fechaFin": {
							"value": "@convertFromUtc(utcnow(),'Argentina Standard Time','yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						},
						"schema": {
							"value": "@pipeline().parameters.schema",
							"type": "Expression"
						},
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"bytesLeido": {
							"value": "@concat(activity('PZ').output.dataRead)",
							"type": "Expression"
						},
						"bytesEscrito": {
							"value": "@concat(activity('PZ').output.dataWritten)",
							"type": "Expression"
						},
						"ultimoValorPivot": {
							"value": "@activity('SELECT_PIVOT_DB').output.runOutput.ultimovalorpivot",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LASCommercial_Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "IfCantidadLeidoIgual0",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "INSERT_PIVOT_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(concat(activity('PZ').output.rowsCopied),'0')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "HZ",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01_Scentia_PZ_HZ_Template_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"keys": {
										"value": "@pipeline().parameters.keys",
										"type": "Expression"
									},
									"partitionByField": {
										"value": "@pipeline().parameters.partitionByField",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "CZ",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "HZ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "02_Scentia_HZ_CZ_Template_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"keys": {
										"value": "@pipeline().parameters.keys",
										"type": "Expression"
									},
									"context": {
										"value": "@pipeline().parameters.context",
										"type": "Expression"
									},
									"partitionByField": {
										"value": "@pipeline().parameters.partitionByField",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"scope": {
				"type": "string",
				"defaultValue": "KeyVault"
			},
			"tableName": {
				"type": "string",
				"defaultValue": "Mayoristas"
			},
			"origenSystem": {
				"type": "string",
				"defaultValue": "Scentia"
			},
			"country": {
				"type": "string",
				"defaultValue": "Argentina"
			},
			"keys": {
				"type": "string",
				"defaultValue": "Periodo, CANAL, KEY_ACCOUNT, REGION, AREA, FORMATO, Ean, SOURCE_FILE"
			},
			"context": {
				"type": "string",
				"defaultValue": "Public"
			},
			"schema": {
				"type": "string",
				"defaultValue": "-"
			},
			"descripcion": {
				"type": "string",
				"defaultValue": "-"
			},
			"partitionByField": {
				"type": "string",
				"defaultValue": "-"
			}
		},
		"folder": {
			"name": "Argentina/Scentia/Template"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-19T17:51:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}