pipeline/0_SAP_DePara_PPL.json
{
	"name": "0_SAP_DePara_PPL",
	"properties": {
		"activities": [
			{
				"name": "Validation_DePara",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Source_SAP_ArchivosYDeparas_DTS",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@pipeline().parameters.tableName",
								"type": "Expression"
							},
							"entorno": {
								"value": "@pipeline().parameters.entorno",
								"type": "Expression"
							},
							"country": {
								"value": "@pipeline().parameters.country",
								"type": "Expression"
							},
							"tipo": {
								"value": "@pipeline().parameters.tipo",
								"type": "Expression"
							}
						}
					},
					"timeout": "0.00:01:00",
					"sleep": 10
				}
			},
			{
				"name": "Bool",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Validation_DePara",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Validation_DePara').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "LOG_ON_FAILURE",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Wait_Paralelizacion",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/LAS/Template/PIVOT/INSERT_PIVOT",
								"baseParameters": {
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"origenSystem": "Manual",
									"tableName": {
										"value": "@pipeline().parameters.tableNamePZ",
										"type": "Expression"
									},
									"descripcion": "Falla en el proceso de carga. No se encontro archivo en el File Server para el DE_PARA",
									"cantidadLeido": "0",
									"cantidadEscrito": "0",
									"duracionCD": "0",
									"fechaFin": {
										"value": "@convertFromUtc(utcnow(),'Argentina Standard Time','yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"schema": "Filesystem",
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"bytesLeido": "0",
									"bytesEscrito": "0",
									"ultimoValorPivot": "0"
								}
							},
							"linkedServiceName": {
								"referenceName": "LASCommercial_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Wait_Paralelizacion",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@rand(1,60)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Delete_DePara",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "HZ_CZ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Delete_SAP_ArchivosYDeparas_DTS",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										},
										"entorno": {
											"value": "@pipeline().parameters.entorno",
											"type": "Expression"
										},
										"country": {
											"value": "@pipeline().parameters.country",
											"type": "Expression"
										},
										"tipo": {
											"value": "@pipeline().parameters.tipo",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "PZ_HZ",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "FS_PZ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "2_PZ_HZ_SAP_ArchivosOrigen_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"runId": {
										"value": "@pipeline().parameters.runId",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "HZ_CZ",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PZ_HZ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "3_HZ_CZ_SAP_DePara_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"runId": {
										"value": "@pipeline().parameters.runId",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origenSystem",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"keys": {
										"value": "@pipeline().parameters.keys",
										"type": "Expression"
									},
									"context": {
										"value": "@pipeline().parameters.context",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "FS_PZ",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "1_FS_PZ_SAP_Deparas_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"entorno": {
										"value": "@pipeline().parameters.entorno",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"tipo": {
										"value": "@pipeline().parameters.tipo",
										"type": "Expression"
									},
									"tableNamePZ": {
										"value": "@pipeline().parameters.tableNamePZ",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tableName": {
				"type": "string"
			},
			"entorno": {
				"type": "string"
			},
			"country": {
				"type": "string"
			},
			"tipo": {
				"type": "string"
			},
			"runId": {
				"type": "string"
			},
			"scope": {
				"type": "string"
			},
			"keys": {
				"type": "string"
			},
			"context": {
				"type": "string"
			},
			"origenSystem": {
				"type": "string"
			},
			"tableNamePZ": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Argentina/SAP/Template"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-26T19:25:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}