pipeline/DE_PARA_ESTRUCTURA_COMERCIAL_PY_PPL.json
{
	"name": "DE_PARA_ESTRUCTURA_COMERCIAL_PY_PPL",
	"properties": {
		"description": "DE-PARA ",
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Validation DE_PARA en File Server",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Validation DE_PARA en File Server').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data PZ",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AvroSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "AvroWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Source_DE_PARA_Input_LAS_DTS",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										},
										"entorno": {
											"value": "@pipeline().parameters.entorno",
											"type": "Expression"
										},
										"country": {
											"value": "@pipeline().parameters.country",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Sink_DE_PARA_Input_PZ_LAS_DTS",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										},
										"country": {
											"value": "@pipeline().parameters.country",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete DE_PARA en File Server",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy data PZ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Delete_DE_PARA_Input_LAS_DTS",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										},
										"entorno": {
											"value": "@pipeline().parameters.entorno",
											"type": "Expression"
										},
										"country": {
											"value": "@pipeline().parameters.country",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "PZ to CZ - Copy Data",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Delete DE_PARA en File Server",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/LAS/Template/PZ_CZ_TEMPLATE_DB",
								"baseParameters": {
									"context": {
										"value": "@pipeline().parameters.context",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"keys": "ID",
									"origenSystem": "DE_PARA",
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"scope": "KeyVault",
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LASCommercial_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CZ to DL DP_ESTRUCTURA_COMERCIAL",
							"description": "Datos PARA al datalake",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PZ to CZ - Copy Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CZ_DL_DP_ESTRUCTURA_COMERCIAL_LAS_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"context": {
										"value": "@pipeline().parameters.context",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origemSystem",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableFinal": "DP_ESTRUCTURA_COMERCIAL_PY",
									"tableName": "DE_PARA_ESTRUCTURA_COMERCIAL_PY",
									"tableDimension": "DIM_TRUCK_ESTRUCTURA_COMERCIAL_PY"
								}
							}
						},
						{
							"name": "CZ_DW_Replica_DP_ESTRUCTURA_COMERCIAL",
							"description": "Datos PARA al datawarehouse de los diferentes archivos",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "CZ to DL DP_ESTRUCTURA_COMERCIAL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CZ_DW_DP_ESTRUCTURA_COMERCIAL_LAS_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"context": {
										"value": "@pipeline().parameters.context",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									},
									"origenSystem": {
										"value": "@pipeline().parameters.origemSystem",
										"type": "Expression"
									},
									"scope": {
										"value": "@pipeline().parameters.scope",
										"type": "Expression"
									},
									"tableFinal": "DP_ESTRUCTURA_COMERCIAL_PY"
								}
							}
						}
					]
				}
			},
			{
				"name": "Validation DE_PARA en File Server",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Source_DE_PARA_Input_LAS_DTS",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@pipeline().parameters.tableName",
								"type": "Expression"
							},
							"entorno": {
								"value": "@pipeline().parameters.entorno",
								"type": "Expression"
							},
							"country": {
								"value": "@pipeline().parameters.country",
								"type": "Expression"
							}
						}
					},
					"timeout": "0.00:03:00",
					"sleep": 10
				}
			},
			{
				"name": "CONTROL NOVEDADES DE PARA ESTRUCURA COMERCIAL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CZ_FS_DE_PARA_ESTRUCTURA_COMERCIAL_LAS_PPL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"context": {
							"value": "@pipeline().parameters.context",
							"type": "Expression"
						},
						"country": {
							"value": "@pipeline().parameters.country",
							"type": "Expression"
						},
						"scope": {
							"value": "@pipeline().parameters.scope",
							"type": "Expression"
						},
						"origenSystem": {
							"value": "@pipeline().parameters.origemSystem",
							"type": "Expression"
						},
						"entorno": {
							"value": "@pipeline().parameters.entorno",
							"type": "Expression"
						},
						"tableName": "DE_PARA_ESTRUCTURA_COMERCIAL_PY",
						"tableFinal": "DP_ESTRUCTURA_COMERCIAL_PY",
						"equipo": "Sales Andina PY",
						"tema": "Depara",
						"subTema": "Estructura Comercial"
					}
				}
			}
		],
		"parameters": {
			"tableName": {
				"type": "string"
			},
			"entorno": {
				"type": "string"
			},
			"country": {
				"type": "string"
			},
			"context": {
				"type": "string"
			},
			"origemSystem": {
				"type": "string"
			},
			"scope": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Paraguay/DE_PARA/DP_ESTRUCTURA_COMERCIAL"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-19T17:51:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}